//*COLORES PRINCIPALES
$body-color: #0d0c0c;
$color-general-black: #000;
$color-general-white: #ffffff;
$button-color: #F6B26B;

//*MEDIDAS
$t-40px: 40px 40px 40px;
$ancho: 100%;

//*FUENTES
$font1: 'Space Crusaders', sans-serif;
$font2: 'Courier New', Courier, monospace;
$font3: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

//*BREAKPOINTS

$MediaMobile-600: 600px;
$MediaTablet-601-min: 601px;
$MediaTablet-820-max: 820px;
$MediaDesktop-820-min: 820px;
$MediaDesktop-1280-max: 1280px;
$MediaDesktop-1441: 1441px;
